
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/_includes/css/style.css" />
</head>
<body>
  {% include "header.njk" %}
  <main class="container">
    {% include "backbutton.njk" %}
    <div class="box violet-box">
      <div class="post">
        {{ content | safe }}
      </div>
    </div>
    {% include "backbutton.njk" %}
  </main>

  {% include "footer.njk" %}
</body>
</html>
