<header>
  <div class="sticky-header">
    <a href="" id="copy-email" onclick="navigator.clipboard.writeText('elaats@gmail.com'); return false;">Copy Email (10)</a>
  </div>
  <div class="flex-header">
    <h1 class="lightgray-text">Erik Laats</h1>
  </div>
</header>