<h1>{{ title }}</h1>
<h4>{{ workedOn }}</h4>
<img class="splash" src={{ splash }} />
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Platform</th>
      <th>&lt;/&gt;</th>
      <th>Client</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="20%">{{ role }}</td>
      <td width="15%">{{ platform }}</td>
      <td width="25%">{{ tech }}</td>
      <td>{{ client }}</td>
      <td><a target="_blank" href="{{ url }}">Link</a></td>
    </tr>
  </tbody>
</table>
<br>
<br>